<div class="jumbotron jumbotron-fluid bg text-center">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple Website, 
        can be used by any type of users, it allows you to publish your skills easily in order to find a job</p>
    <hr class="my-4">
    <p>Click on the button bellow for more informations</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
