<div class="card" style="width: 18rem; margin: 0 auto; margin-top: 5%;">
    <img src="../../assets/details.png" class="card-img-top profimg " alt="...">
    <div class="card-body text-center">
        <h5 class="card-title">{{data.fname}} {{data.lname}}</h5>
        <p class="card-text">{{data.notes}}</p>
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">Email : {{data.email}}</li>
        <li class="list-group-item">Phone Number : {{data.phone}}</li>
        <li class="list-group-item">Adress : {{data.adress}}</li>
        <li class="list-group-item">Skill : {{data.skill}}</li>
        <li class="list-group-item">Price : {{data.price}}</li>

    </ul>

</div>